*{margin:0px; padding:0px; text-decoration:none; font-family:sans-serif;}
body{background-color:rgb(246, 247, 255);   padding-top: 56px;}
ul{list-style: none;}

/*header*/
header{width: 100%; height:100px; background-color: rgb(44, 46, 63);
position: fixed; top:0; z-index: 10;}
.logo{ width:130px; float:left; position: fixed; left:545px; top:20px;}
.logo>img{width:130px; height:auto; }

/*menu*/
.menu{float: right;  position: fixed; left:1024px; top:36px;}
.menu a{color: rgba(255, 255, 255, 0.603);}
.menu a:hover{color: white; font-weight: bold;}

.menu_top{ padding-top:5px; position:fixed; left:1450px;
    top:0; font-size: 13px; float: right;}
.menu_top li a{float: right; padding-right: 15px;}
.menu_top li{float:right; }

nav{float:right;}
.navi li{float: left; }
.navi>li{padding-right:65px;}
.sub{clear:left; height: 300px;
position: absolute;left: 0; display: none;padding-top: 14px;}

 #menu1{height:50px;}
    #menu1 ul{width:500px; margin:0 auto; }
    #menu1 .main>li{float:left; width: 25%; height:50px; line-height: 50px;
        text-align:center; position: relative; }
    #menu1 .main>li:hover .sub{display: block;}
    #menu1 .main>li a{display: block;}
    #menu1 .main>li a:hover{color: #fff;}
    #menu1 .main .sub{position: absolute; top:50px; left:0;
        width: 100%; display: none;}
    #menu1 .main .sub li{background: rgb(49, 55, 105);}
    #menu1 .main .sub li a:hover{background-color: #614261;}


/* policy */
.notice{height:330px; width: 600px; background-color: rgb(96, 100, 136); 
color:white; margin-top:250px; margin-left:670px;text-align: center;}

.notice1{height:350px; width: 620px; background-color: rgb(96, 100, 136); 
color:white; margin-top:250px; margin-left:670px;text-align: center;
padding-top: 15px;}


/* footer */
footer{width: 100%; height:70px; background-color: rgb(44, 46, 63);
    position: fixed; bottom:0; z-index: 10;}
.foot_top{z-index:30; float:left;width:500px;height:35px; position: fixed; left:825px; padding-top: 5px;}
.foot_top li a{ color:rgb(216, 216, 216); float: left; margin-left: 12px;}
.foot_top li { color:rgb(216, 216, 216); float: left; margin-right: 30px; margin-top: 5px;}
.foot_bot{clear:left; position:fixed;float:left; z-index:30; color:rgb(216,216,216); left:825px; padding-top: 40px; width: 600px;}
.foot_bot li a{ color:rgb(216, 216, 216); float: left; margin-left: 12px;}
.foot_bot li { color:rgb(216, 216, 216); float: left; margin-right: 30px; margin-top: 5px;}